@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --informative: #e0f2fe;
  --informative-foreground: #121212;

  --warning: #fef3c7;
  --warning-foreground: #121212;

  --destructive: #fecdd3;
  --destructive-foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --informative: #075985;
    --informative-foreground: hsl(210 40% 98%);

    --warning: #ca8a04;
    --warning-foreground: hsl(210 40% 98%);

    --destructive: #7f1d1d;
    --destructive-foreground: hsl(210 40% 98%);
  }
}

[data-theme='dark'] {
  --background: #121212;
  --foreground: white;

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);

  --informative: #075985;
  --informative-foreground: hsl(210 40% 98%);

  --warning: #ca8a04;
  --warning-foreground: hsl(210 40% 98%);

  --destructive: #7f1d1d;
  --destructive-foreground: hsl(210 40% 98%);
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
